@model List<HeroModel>

<div class="row gap-3 flex-row">
    <div class="primary-attribute">
        <img src="https://cdn.akamai.steamstatic.com/apps/dota2/images/dota_react/herogrid/filter-str-active.png"
             class="filter-img"
             onclick="filterHeroes('str', this)" />
        <img src="https://cdn.akamai.steamstatic.com/apps/dota2/images/dota_react/herogrid/filter-agi-active.png"
             class="filter-img"
             onclick="filterHeroes('agi', this)" />
        <img src="https://cdn.akamai.steamstatic.com/apps/dota2/images/dota_react/herogrid/filter-int-active.png"
             class="filter-img"
             onclick="filterHeroes('int', this)" />
        <img src="https://cdn.akamai.steamstatic.com/apps/dota2/images/dota_react/herogrid/filter-uni-active.png"
             class="filter-img"
             onclick="filterHeroes('all', this)" />
    </div>

    @foreach (var hero in Model)
    {
        <div class="card-heroes" data-primary-attr="@hero.primary_attr" id="hero-@hero.Id">
            <div class="image-container">
                @{
                    string url = "https://cdn.akamai.steamstatic.com" + hero.img;
                }
                <img src="@url" alt="Imagem do Herói" />
                <h5 class="font-weight-bold">@hero.localized_name</h5>
            </div>
        </div>
    }
</div>